  .dashboard{
    position: relative;
    background: $darkbluecolor;
    overflow: hidden;
    &.static{
      width: 1440px;
      height: 372px;
      background: $lightbluecolor;
      &.g-animation{
        .dashboard{
          &__title{
            &.second-screen-hc{
              top: 380px;
            }
            &.third-screen-hc{
              opacity: 0;
            }
          }
          &__person{
            left: -450px;
          }
          &__logo{
            right: -580px;
          }
          &__logo-wave{
            right: -600px;

          }
        }
        .btn-small {
          opacity: 0;
        }
      }
      .dashboard{
        &__title{
          opacity: 1;
          left: 334px;
          top: 314px;
          &.second-screen-hc{
            .h-2{
              font-size: 26px;
              line-height: 32px;
            }
          }
          &.third-screen-hc{
            left: 357px;
            top: 65px;
            .h-2{
              font-size: 64px;
              line-height: 64px;
              text-indent: 34px;
              &:first-child{
                text-indent: 0;
              }
            }
            .btn{
              font-size: 24px;
              line-height: 30px;
              margin: 21px 0 0 302px;
              padding: 12px 45px;
              background: $ctabluecolor;
            }
          }
        }
        &__person{
          bottom: -223px;
          left: -7px;
          height: 621px;
          width: 449px;
        }
        &__logo-wave{
          width: 591px;
          height: 296px;
        }
        &__logo{
          width: 393px;
          right: 5px;
          bottom: 10px;
          bottom: 24px;
        }
        &__gradient{
          background: linear-gradient(0deg,rgba(0,0,0,0.3),rgba(0,0,0,0) 80%);
        }
      }
      .btn-small {
        left: $left-btn-position;
        top: 219px;
      }
    }
    &.linkedin{
      width: 1200px;
      height: 1200px;
      &.man{
        .dashboard{
          &__title{
            &.third-screen-hc{
              max-width: 1000px;
            }
          }
        }
      }
      &.ret{
        .dashboard{
          &__title{
            &.third-screen-hc{
              max-width: 770px;
            }
          }
        }
      }
      .dashboard__logo {
        width: 393px;
        bottom: 35px;
      }
      .btn {
        padding: 36px 45px;
      }
    }
    &.facebook{
      width: 1080px;
      height: 1080px;
      &.man{
        .dashboard{
          &__title{
            &.third-screen-hc{
              max-width: 890px;
            }
          }
        }
      }
      &.ret{
        .dashboard{
          &__title{
            &.third-screen-hc{
              max-width: 675px;
            }
          }
        }
      }
      .dashboard{
        &__title{
          .h-2{
            font-size: 60px;
            line-height: 70px;
            text-indent: 30px;
          }
          &.third-screen-hc{
            top: 69px;
            max-width: 900px;
            .h-2{
              font-size: 85px;
              line-height: 100px;
              &:first-child{
                text-indent: 0;
              }
            }
            .btn{
              margin: 67px 0 0 0;
              font-size: 40px;
              padding: 31px 45px 32px;
            }
          }
        }
        &__logo {
          width: 364px;
          bottom: 36px;
          right: 15px;
        }
      }
    }
    &.v-horizontal{
      width: 970px;
      height: 250px;
      &.man{
        .dashboard{
          &__title{
            bottom: 41px;
            left: 169px;
            &.third-screen-hc{
              max-width: 700px;
            }
          }
        }
      }
      .dashboard{
        &__title{
          bottom: 33px;
          left: 149px;
          .h-2{
            font-size: 30px;
            line-height: 36px;
            text-indent: 15px;
          }
          &.third-screen-hc{
            top: 33px;
            left: 60px;
            max-width: 652px;
            .h-2{
              font-size: 40px;
              line-height: 50px;
              text-indent: 0;
            }
            .btn{
              position: absolute;
              top: 50px;
              left: 281px;
              font-size: 18px;
              padding: 12px 17px;
              line-height: 20px;
            }
          }
        }
        &__person{
          width: 206px;
          height: 230px;
        }
        &__logo{
          width: 224px;
          bottom: 15px;
        }
        &__logo-wave{
          width: 336px;
          height: 170px;
        }
        &__gradient {
          background: linear-gradient(0deg, rgba(0,0,0, .25), rgba(0,0,0, 0));
        }
      }
    }
    &.v-horizontal-sm{
      width: 728px;
      height: 90px;
      &.man{
        .dashboard{
          &__title{
            bottom: 23px;
            &.third-screen-hc{
              max-width: 500px;
            }
          }
        }
      }
      &.ret{
        .dashboard{
          &__title{
            &.third-screen-hc{
              max-width: 470px;
            }
          }
        }
      }
      .dashboard{
        &__title{
          left: 99px;
          bottom: 19px;
          .h-2{
            font-size: 17px;
            line-height: 19px;
            text-indent: 9px;
          }
          &.third-screen-hc{
            top: 15px;
            left: 21px;
            max-width: 484px;
            .h-2{
              font-size: 20px;
              line-height: 23.5px;
              text-indent: 0;
            }
            .btn{
              position: absolute;
              top: 31px;
              margin: 0;
              left: 271px;
              font-size: 12px;
              padding: 9px 12px;
              line-height: 14px;
            }
          }
        }
        &__person{
          height: 142px;
          width: 142px;
          bottom: -38px;
        }
        &__logo-wave{
          width: 244px;
          height: 120px;
          img{
            object-fit: inherit;
          }
        }
        &__logo{
          width: 145px;
          bottom: 8px;
        }
        &__gradient {
          background: linear-gradient(0deg, rgba(0,0,0, .35), rgba(0,0,0, .1));
        }
      }
    }
    &.v-vertical-sm{
      width: 300px;
      height: 250px;
      &.man{
        .dashboard{
          &__title{
            bottom: 100px;
            &.third-screen-hc{
              max-width: 260px;
              .btn{
                top: 155px;
                padding: 5px 7px;
              }
            }
          }
        }
      }
      .dashboard{
        &__logo-wave{
          width: 204px;
          height: 100px;
          bottom: -3px;
          right: -1px;
          img{
            object-fit: initial;
          }
        }
        &__person{
          bottom: -34px;
          left: -42px;
          height: 180px;
          width: 163px;
        }
        &__logo{
          width: 150px;
          bottom: 6px;
          right: -6px;
        }
        &__title{
          max-width: 205px;
          bottom: 93px;
          left: 65px;
          .h-2{
            font-size: 17px;
            line-height: 19px;
            text-indent: 9px;
          }
          &.third-screen-hc{
            top: 15px;
            left: 21px;
            max-width: 270px;
            .h-2{
              font-size: 24px;
              line-height: 28px;
              text-indent: 0;
            }
            .btn{
              position: absolute;
              top: 122px;
              margin: 0;
              left: 0px;
              font-size: 12px;
              padding: 9px 15px;
              line-height: 14px;
            }
          }
        }
        &__gradient {
          background: linear-gradient(0deg, rgba(0,0,0, .8), rgba(0,0,0, 0));
        }
      }
    }
    &.v-vertical{
      width: 300px;
      height: 600px;
      &.man{
        .dashboard{
          &__title{
            max-width: 241px;
            left: 48px;
            bottom: 252px;
          }
        }
      }
      &.ret{
        .dashboard{
          &__title{
            max-width: 241px;
            left: 105px;
            bottom: 201px;
            &.third-screen-hc{
              left: 57px;
              max-width: 200px;
              .btn{
                left: 30px;
              }
            }
          }
        }
      }
      .dashboard__gradient {
        background: linear-gradient(0deg, rgba(0,0,0, .8), rgba(0,0,0, .8) 30%, rgba(0,0,0, 0));
      }
      .dashboard{
        &__title{
          max-width: 185px;
          left: 126px;
          bottom: 194px;
          .h-2{
            font-size: 22px;
            line-height: 25px;
            text-indent: 12px;
          }
          &.third-screen-hc{
            top: 60px;
            left: 29px;
            max-width: 242px;
            .h-2{
              text-align: center;
              font-size: 32px;
              line-height: 41px;
              text-indent: 0;
            }
            .btn{
              position: absolute;
              top: 280px;
              margin: 0;
              left: 50px;
              font-size: 18px;
              padding: 11px 17px 12px 17px;
              line-height: 20px;
              width: 138px;
            }
          }
        }
        &__logo-wave{
          bottom: 0px;
          right: 0px;
          width: 300px;
          height: 142px;
          img{
            object-fit: initial;
          }
        }
        &__logo{
          bottom: 10px;
          width: 218px;
        }
        &__person{
          left: -38px;
          height: 286px;
          width: 215px;
          bottom: -28px;
        }
      }
    }
    &.active{
      .dashboard{
        &__title{
          &.first-screen-hc{
            animation-name: show-text;
            animation-duration: 2500ms;
            animation-timing-function: linear;
            animation-fill-mode: forwards;
          }
          &.second-screen-hc{
            animation-name: show-text;
            animation-duration: 3000ms;
            animation-delay: 2500ms;
            animation-timing-function: linear;
            animation-fill-mode: forwards;
          }
          &.third-screen-hc{
            animation-name: show-text-final;
            animation-duration: 700ms;
            animation-delay: 5500ms;
            animation-timing-function: linear;
            animation-fill-mode: forwards;
            pointer-events: none;
          }
        }
        &__person{
          animation-name: remove-person;
          animation-duration: 500ms;
          animation-delay: 5000ms;
          animation-timing-function: linear;
          animation-fill-mode: forwards;
        }
        &__bg{
          animation-name: show-bg;
          animation-duration: 500ms;
          animation-delay: 5500ms;
          animation-timing-function: linear;
          animation-fill-mode: forwards;
        }
        &__logo{
          animation-name: scale-logo;
          animation-duration: 700ms;
          animation-delay: 5700ms;
          animation-timing-function: linear;
          animation-fill-mode: forwards;
        }
        &__logo-wave{
          animation-name: show-btn;
          animation-duration: 700ms;
          animation-delay: 5700ms;
          animation-timing-function: linear;
          animation-fill-mode: forwards;
        }
      }
      &.linkedin .dashboard__logo-wave {
        animation-name: scale-wave-mod-6;
      }
      &.facebook .dashboard__logo-wave {
        animation-name: scale-wave-mod-7;
      }
      &.v-horizontal{
        .dashboard{
          &__logo{
            animation-name: scale-logo-mod;
          }
          &__logo-wave{
            animation-name: scale-wave-mod;
          }
        }
      }
      &.v-horizontal-sm{
        .dashboard{
          &__title{
            &.first-screen-hc{
              animation-name: show-text-mod-2;
            }
            &.second-screen-hc{
              animation-name: show-text-mod-2;
              animation-duration: 3000ms;
              animation-delay: 2500ms;
              animation-timing-function: linear;
              animation-fill-mode: forwards;
            }
            &.third-screen-hc{
              animation-name: show-text-final-mod;
            }
          }
          &__logo{
            animation-name: scale-logo-mod-5;
            animation-duration: 700ms;
            animation-delay: 5500ms;
            animation-timing-function: linear;
            animation-fill-mode: forwards;
          }
          &__logo-wave{
            animation-name: scale-wave-mod;
            animation-duration: 700ms;
            animation-delay: 5500ms;
            animation-timing-function: linear;
            animation-fill-mode: forwards;
          }
        }
      }
      &.v-vertical-sm{
        .dashboard{
          &__title{
            &.first-screen-hc{
              animation-name: show-text-mod-2;
            }
            &.second-screen-hc{
              animation-name: show-text-mod-2;
              animation-duration: 3000ms;
              animation-delay: 2500ms;
              animation-timing-function: linear;
              animation-fill-mode: forwards;
            }
            &.third-screen-hc{
              animation-name: show-text-final-mod;
            }
          }
          &__logo{
            animation-name: scale-logo-mod-2;
          }
          &__logo-wave{
            animation-name: scale-wave-mod-2;
          }
        }
      }
      &.v-vertical{
        .dashboard{
          &__title{
            &.first-screen-hc{
              animation-name: show-text-mod-2;
            }
            &.second-screen-hc{
              animation-name: show-text-mod-2;
              animation-duration: 3000ms;
              animation-delay: 2500ms;
              animation-timing-function: linear;
              animation-fill-mode: forwards;
            }
            &.third-screen-hc{
              animation-name: show-text-final-mod;
            }
          }
          &__logo{
            animation-name: scale-logo-mod-3;
          }
          &__logo-wave{
            animation-name: scale-wave-mod-3;
          }
        }
      }
      &.g-animation{
        .dashboard{
          &__title{
            &.second-screen-hc{
              animation-name: show-text-mod-3;
              animation-duration: 500ms;
              animation-delay: inherit;
              animation-timing-function: linear;
              animation-fill-mode: forwards;
            }
            &.third-screen-hc{
              animation-name: show-text-final-mod-2;
              animation-duration: 2500ms;
              animation-delay: 500ms;
              animation-timing-function: linear;
              animation-fill-mode: forwards;
              pointer-events: none;
            }
          }
          &__person{
            animation-name: add-person;
            animation-duration: 500ms;
            animation-delay: inherit;
            animation-timing-function: linear;
            animation-fill-mode: forwards;
          }
          &__logo{
            animation-name: scale-logo-mod-4;
            animation-duration: 400ms;
            animation-delay: 1000ms;
            animation-timing-function: linear;
            animation-fill-mode: forwards;
          }
          &__logo-wave{
            animation-name: scale-wave-mod-8;
            animation-duration: 700ms;
            animation-delay: 700ms;
            animation-timing-function: linear;
            animation-fill-mode: forwards;
          }
        }
        .btn-small{
          animation-name: show-btn;
          animation-duration: 400ms;
          animation-delay: 1400ms;
          animation-timing-function: linear;
          animation-fill-mode: forwards;
        }
      }
    }
    &__title{
      position: absolute;
      opacity: 0;
      left: 300px;
      bottom: 300px;
      max-width: 820px;
      z-index: 2;
      .h-2{
        text-indent: 35px;
      }
      &.first-screen-hc{
        .h-2{
          &:first-child{
            text-indent: 0;
          }
        }
      }
      &.second-screen-hc{
        .h-2{
          &:first-child{
            text-indent: 0;
          }
        }
      }
      &.third-screen-hc{
        top: 112px;
        left: 79px;
        bottom: initial;
        max-width: 1030px;
        .btn{
          margin: 83px 0 0 0;
        }
        .h-2{
          text-indent: 0;
          font-size: 96px;
          line-height: 105px;
        }
      }
    }
    &__content{
      width: 100%;
      height: 100%;
    }
    &__person{
      position: absolute;
      z-index: 1;
      bottom: 0;
      left: -17px;
      height: 532px;
      width: 449px;
      img{
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    &__logo-wave{
      position: absolute;
      pointer-events: none;
      z-index: 2;
      bottom: -20px;
      right: -20px;
      width: 618px;
      height: 294px;
      transform-origin: bottom right;
      picture {
        display: block;
      }
      img{
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    &__bg{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &__logo{
      position: absolute;
      transform-origin: bottom right;
      z-index: 3;
      right: 0;
      bottom: 0;
      width: 50%;
      height: auto;
      img{
        width: 100%;
        height: 100%;
      }
    }
    &__gradient{
      background: linear-gradient(0deg, rgba(0,0,0, .8), rgba(0,0,0, 0));
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      img{
        width: 100%;
        height: 100%;
      }
    }
  }
  @keyframes show-text{
    0%{
      opacity: 0;
      transform: translateY(30px);
    }
    20%{
      opacity: 1;
      transform: translateY(0);
    }
    90%{
      opacity: 1;
      transform: translateY(0);
    }
    100%{
      opacity: 0;
      transform: translateY(0);
      pointer-events: none;
    }
  }
  @keyframes show-text-mod-2{
    0%{
      opacity: 0;
      transform: translateY(10px);
    }
    20%{
      opacity: 1;
      transform: translateY(0);
    }
    90%{
      opacity: 1;
      transform: translateY(0);
    }
    100%{
      opacity: 0;
      transform: translateY(0);
      pointer-events: none;
    }
  }
  @keyframes show-text-mod-3 {
    0%{
      top: 380px;
    }
    100%{
      top: 314px;
    }
  }

  @keyframes show-text-final{
    0%{
      opacity: 0;
      transform: translateY(30px);
    }
    100%{
      pointer-events: visible;
      opacity: 1;
      transform: translateY(0);
    }
  }
  @keyframes show-text-final-mod{
    0%{
      pointer-events: none;
      opacity: 0;
      transform: translateY(10px);
    }
    100%{
      pointer-events: initial;
      opacity: 1;
      transform: translateY(0);
    }
  }
  @keyframes show-text-final-mod-2{
    0%{
      opacity: 0;
    }
    30%{
      opacity: 100%;
    }
    100%{
      pointer-events: initial;
      opacity: 100%;
    }
  }

  @keyframes remove-person{
    0%{
      opacity: 1;
    }
    100%{
      opacity: 0;
      pointer-events: none;
    }
  }
  @keyframes add-person {
    0%{
      left: -450px;
    }
    100%{
      left: -7px;
    }
  }

  @keyframes show-bg{
    0%{
      opacity: 1;
    }
    100%{
      opacity: 0;
    }
  }

  @keyframes scale-logo{
    0%{
      transform: scale(1);
    }
    100%{
      transform: scale3D(1.85, 1.85, 1.85) translateX(-0px) translateY(-10px);
    }
  }
  @keyframes scale-logo-mod{
    0%{
      transform: scale(1);
    }
    100%{
      transform: scale(1.2) translateX(-5px) translateY(-5px);
    }
  }
  @keyframes scale-logo-mod-2{
    0%{
      transform: scale(1);
    }
    100%{
      transform: scale(1.15) translateX(-4px) translateY(-4px);
    }
  }
  @keyframes scale-logo-mod-3{
    0%{
      transform: scale(1);
    }
    100%{
      transform: scale(1.1) translateX(-0px) translateY(-10px);
    }
  }
  @keyframes scale-logo-mod-4 {
    0%{
      right: -305px;
    }
    100%{
      right: 15px;
    }
  }
  @keyframes scale-logo-mod-5 {
    0%{
      transform: scale(1) translateX(0);
    }
    100%{
      transform: scale(1.15) translateX(-0px) ;
    }
  }

  @keyframes scale-wave{
    0%{
      transform: scale(1);
    }
    100%{
      transform: scale(2);
    }
  }
  @keyframes scale-wave-mod{
    0%{
      transform: scale(1);
    }
    100%{
      transform: scale(1.2);
    }
  }
  @keyframes scale-wave-mod-2{
    0%{
      transform: scale(1);
    }
    100%{
      transform: scale(1.15);
    }
  }
  @keyframes scale-wave-mod-3{
    0%{
      transform: scale(1);
    }
    100%{
      transform: scale(1.2);
    }
  }
  @keyframes scale-wave-mod-4 {
    0%{
      right: -580px;
    }
    100%{
      right: 0;
    }
  }
  @keyframes scale-wave-mod-5 {
    0%{
      width: 546px;
    }
    100%{
      width: 581px;
    }
  }
  @keyframes scale-wave-mod-6{
    0%{
      transform: scale(1);
    }
    100%{
      transform: scale(1.8);
    }
  }
  @keyframes scale-wave-mod-7{
    0%{
      transform: scale(1);
    }
    100%{
      transform: scale(1.75);
    }
  }
  @keyframes scale-wave-mod-8{
    0%{
      transform: scale(1);
      right: 0px;
    }
    100%{
      transform: scale(1);
      right: -20px;
    }
  }
  @keyframes show-btn{
    0%{
      opacity: 0;
    }
    100%{
      opacity: 1;
    }
  }















