@font-face {
  font-family: "EncodeSans";
  font-display: swap;
  src: url("../fonts/EncodeSans-Light.woff") format("woff"), url("../fonts/EncodeSans-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "EncodeSans";
  font-display: swap;
  src: url("../fonts/EncodeSans-Regular.woff") format("woff"), url("../fonts/EncodeSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "EncodeSans";
  font-display: swap;
  src: url("../fonts/EncodeSans-Medium.woff") format("woff"), url("../fonts/EncodeSans-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "EncodeSans";
  font-display: swap;
  src: url("../fonts/EncodeSans-SemiBold.woff") format("woff"), url("../fonts/EncodeSans-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "EncodeSans";
  font-display: swap;
  src: url("../fonts/EncodeSans-Bold.woff") format("woff"), url("../fonts/EncodeSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-size: 14px;
  font-family: "EncodeSans";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "EncodeSans";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
}

.container {
  padding: 0px 15px;
  margin: 0px auto;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  width: 100%;
  max-width: 1440px;
}

.h-2 {
  font-size: 70px;
  line-height: 86px;
  font-weight: 600;
  color: #fff;
}

.btn {
  display: inline-block;
  font-size: 48px;
  color: #fff;
  line-height: 54px;
  font-weight: 700;
  padding: 29px 45px;
  max-width: 100%;
  background: #0076BD;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.dashboard {
  position: relative;
  background: #073C75;
  overflow: hidden;
}

.dashboard.static {
  width: 1440px;
  height: 372px;
  background: #1658A1;
}

.dashboard.static.g-animation .dashboard__title.second-screen-hc {
  top: 380px;
}

.dashboard.static.g-animation .dashboard__title.third-screen-hc {
  opacity: 0;
}

.dashboard.static.g-animation .dashboard__person {
  left: -450px;
}

.dashboard.static.g-animation .dashboard__logo {
  right: -305px;
}

.dashboard.static.g-animation .dashboard__logo-wave {
  right: -580px;
}

.dashboard.static .dashboard__title {
  opacity: 1;
  left: 334px;
  top: 314px;
}

.dashboard.static .dashboard__title.second-screen-hc .h-2 {
  font-size: 26px;
  line-height: 32px;
}

.dashboard.static .dashboard__title.third-screen-hc {
  left: 357px;
  top: 65px;
}

.dashboard.static .dashboard__title.third-screen-hc .h-2 {
  font-size: 64px;
  line-height: 64px;
  text-indent: 34px;
}

.dashboard.static .dashboard__title.third-screen-hc .h-2:first-child {
  text-indent: 0;
}

.dashboard.static .dashboard__title.third-screen-hc .btn {
  font-size: 24px;
  line-height: 30px;
  margin: 21px 0 0 302px;
  padding: 12px 45px;
  background: #002C5C;
}

.dashboard.static .dashboard__person {
  bottom: -223px;
  left: -7px;
  height: 621px;
  width: 449px;
}

.dashboard.static .dashboard__logo-wave {
  width: 708px;
  height: 706px;
}

.dashboard.static .dashboard__logo {
  right: 45px;
  bottom: 44px;
}

.dashboard.static .dashboard__gradient {
  opacity: 0.4;
}

.dashboard.linkedin {
  width: 1200px;
  height: 1200px;
}

.dashboard.linkedin.man .dashboard__title.third-screen-hc {
  max-width: 1000px;
}

.dashboard.linkedin.ret .dashboard__title.third-screen-hc {
  max-width: 770px;
}

.dashboard.facebook {
  width: 1080px;
  height: 1080px;
}

.dashboard.facebook.man .dashboard__title.third-screen-hc {
  max-width: 890px;
}

.dashboard.facebook.ret .dashboard__title.third-screen-hc {
  max-width: 675px;
}

.dashboard.facebook .dashboard__title .h-2 {
  font-size: 60px;
  line-height: 70px;
  text-indent: 30px;
}

.dashboard.facebook .dashboard__title.third-screen-hc {
  top: 69px;
}

.dashboard.facebook .dashboard__title.third-screen-hc .h-2 {
  font-size: 85px;
  line-height: 100px;
}

.dashboard.facebook .dashboard__title.third-screen-hc .h-2:first-child {
  text-indent: 0;
}

.dashboard.facebook .dashboard__title.third-screen-hc .btn {
  margin: 67px 0 0 0;
  font-size: 40px;
}

.dashboard.v-horizontal {
  width: 970px;
  height: 250px;
}

.dashboard.v-horizontal.man .dashboard__title {
  bottom: 41px;
  left: 169px;
}

.dashboard.v-horizontal.man .dashboard__title.third-screen-hc {
  max-width: 700px;
}

.dashboard.v-horizontal .dashboard__title {
  bottom: 33px;
  left: 149px;
}

.dashboard.v-horizontal .dashboard__title .h-2 {
  font-size: 30px;
  line-height: 36px;
  text-indent: 15px;
}

.dashboard.v-horizontal .dashboard__title.third-screen-hc {
  top: 33px;
  left: 60px;
  max-width: 660px;
}

.dashboard.v-horizontal .dashboard__title.third-screen-hc .h-2 {
  font-size: 40px;
  line-height: 50px;
  text-indent: 0;
}

.dashboard.v-horizontal .dashboard__title.third-screen-hc .btn {
  position: absolute;
  top: 50px;
  left: 281px;
  font-size: 18px;
  padding: 10px 17px;
  line-height: 20px;
}

.dashboard.v-horizontal .dashboard__person {
  width: 206px;
  height: 230px;
}

.dashboard.v-horizontal .dashboard__logo {
  right: 20px;
  bottom: 29px;
  width: 178px;
  height: 59px;
}

.dashboard.v-horizontal .dashboard__logo-wave {
  width: 417px;
  height: 419px;
}

.dashboard.v-horizontal-sm {
  width: 728px;
  height: 90px;
}

.dashboard.v-horizontal-sm.man .dashboard__title {
  bottom: 23px;
}

.dashboard.v-horizontal-sm.man .dashboard__title.third-screen-hc {
  max-width: 500px;
}

.dashboard.v-horizontal-sm.ret .dashboard__title.third-screen-hc {
  max-width: 470px;
}

.dashboard.v-horizontal-sm .dashboard__title {
  left: 99px;
  bottom: 19px;
}

.dashboard.v-horizontal-sm .dashboard__title .h-2 {
  font-size: 17px;
  line-height: 19px;
  text-indent: 9px;
}

.dashboard.v-horizontal-sm .dashboard__title.third-screen-hc {
  top: 15px;
  left: 21px;
  max-width: 484px;
}

.dashboard.v-horizontal-sm .dashboard__title.third-screen-hc .h-2 {
  font-size: 20px;
  line-height: 24px;
  text-indent: 0;
}

.dashboard.v-horizontal-sm .dashboard__title.third-screen-hc .btn {
  position: absolute;
  top: 31px;
  margin: 0;
  left: 271px;
  font-size: 12px;
  padding: 10px 12px;
  line-height: 14px;
}

.dashboard.v-horizontal-sm .dashboard__person {
  height: 142px;
  width: 142px;
  bottom: -38px;
}

.dashboard.v-horizontal-sm .dashboard__logo-wave {
  width: 546px;
  height: 91px;
}

.dashboard.v-horizontal-sm .dashboard__logo-wave img {
  -o-object-fit: inherit;
     object-fit: inherit;
}

.dashboard.v-horizontal-sm .dashboard__logo {
  right: 15px;
  bottom: 14px;
  width: 125px;
  height: 42px;
}

.dashboard.v-vertical-sm {
  width: 300px;
  height: 250px;
}

.dashboard.v-vertical-sm.man .dashboard__title {
  bottom: 100px;
}

.dashboard.v-vertical-sm.man .dashboard__title.third-screen-hc {
  max-width: 260px;
}

.dashboard.v-vertical-sm.man .dashboard__title.third-screen-hc .btn {
  top: 155px;
  padding: 5px 7px;
}

.dashboard.v-vertical-sm .dashboard__logo-wave {
  width: 255px;
  height: 235px;
}

.dashboard.v-vertical-sm .dashboard__logo-wave img {
  -o-object-fit: initial;
     object-fit: initial;
}

.dashboard.v-vertical-sm .dashboard__person {
  bottom: -34px;
  left: -42px;
  height: 180px;
  width: 163px;
}

.dashboard.v-vertical-sm .dashboard__logo {
  right: 9px;
  bottom: 12px;
  width: 116px;
  height: 41px;
}

.dashboard.v-vertical-sm .dashboard__title {
  max-width: 205px;
  bottom: 93px;
  left: 65px;
}

.dashboard.v-vertical-sm .dashboard__title .h-2 {
  font-size: 17px;
  line-height: 19px;
  text-indent: 9px;
}

.dashboard.v-vertical-sm .dashboard__title.third-screen-hc {
  top: 15px;
  left: 21px;
  max-width: 270px;
}

.dashboard.v-vertical-sm .dashboard__title.third-screen-hc .h-2 {
  font-size: 24px;
  line-height: 28px;
  text-indent: 0;
}

.dashboard.v-vertical-sm .dashboard__title.third-screen-hc .btn {
  position: absolute;
  top: 122px;
  margin: 0;
  left: 0px;
  font-size: 12px;
  padding: 8px 15px;
  line-height: 14px;
}

.dashboard.v-vertical-sm .dashboard__gradient {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.43)));
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.43) 100%);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.43) 100%);
}

.dashboard.v-vertical {
  width: 300px;
  height: 600px;
}

.dashboard.v-vertical.man .dashboard__title {
  max-width: 241px;
  left: 48px;
  bottom: 252px;
}

.dashboard.v-vertical.ret .dashboard__title {
  max-width: 241px;
  left: 105px;
  bottom: 201px;
}

.dashboard.v-vertical.ret .dashboard__title.third-screen-hc {
  left: 57px;
  max-width: 200px;
}

.dashboard.v-vertical.ret .dashboard__title.third-screen-hc .btn {
  left: 30px;
}

.dashboard.v-vertical .dashboard__title {
  max-width: 185px;
  left: 126px;
  bottom: 194px;
}

.dashboard.v-vertical .dashboard__title .h-2 {
  font-size: 22px;
  line-height: 25px;
  text-indent: 12px;
}

.dashboard.v-vertical .dashboard__title.third-screen-hc {
  top: 44px;
  left: 25px;
  max-width: 246px;
}

.dashboard.v-vertical .dashboard__title.third-screen-hc .h-2 {
  text-align: center;
  font-size: 32px;
  line-height: 41px;
  text-indent: 0;
}

.dashboard.v-vertical .dashboard__title.third-screen-hc .btn {
  position: absolute;
  top: 280px;
  margin: 0;
  left: 59px;
  font-size: 18px;
  padding: 10px 17px;
  line-height: 20px;
}

.dashboard.v-vertical .dashboard__logo-wave {
  bottom: -34px;
  right: -22px;
  width: 429px;
  height: 497px;
}

.dashboard.v-vertical .dashboard__logo-wave img {
  -o-object-fit: initial;
     object-fit: initial;
}

.dashboard.v-vertical .dashboard__logo {
  right: 14px;
  bottom: 22px;
  width: 174px;
  height: 59px;
}

.dashboard.v-vertical .dashboard__person {
  left: -38px;
  height: 286px;
  width: 215px;
  bottom: -28px;
}

.dashboard.v-vertical .dashboard__gradient {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.63)));
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.63) 100%);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.63) 100%);
}

.dashboard.active .dashboard__title.first-screen-hc {
  -webkit-animation-name: show-text;
          animation-name: show-text;
  -webkit-animation-duration: 2500ms;
          animation-duration: 2500ms;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.dashboard.active .dashboard__title.second-screen-hc {
  -webkit-animation-name: show-text;
          animation-name: show-text;
  -webkit-animation-duration: 3000ms;
          animation-duration: 3000ms;
  -webkit-animation-delay: 2500ms;
          animation-delay: 2500ms;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.dashboard.active .dashboard__title.third-screen-hc {
  -webkit-animation-name: show-text-final;
          animation-name: show-text-final;
  -webkit-animation-duration: 700ms;
          animation-duration: 700ms;
  -webkit-animation-delay: 5500ms;
          animation-delay: 5500ms;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  pointer-events: none;
}

.dashboard.active .dashboard__person {
  -webkit-animation-name: remove-person;
          animation-name: remove-person;
  -webkit-animation-duration: 500ms;
          animation-duration: 500ms;
  -webkit-animation-delay: 5000ms;
          animation-delay: 5000ms;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.dashboard.active .dashboard__bg {
  -webkit-animation-name: show-bg;
          animation-name: show-bg;
  -webkit-animation-duration: 500ms;
          animation-duration: 500ms;
  -webkit-animation-delay: 5500ms;
          animation-delay: 5500ms;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.dashboard.active .dashboard__logo {
  -webkit-animation-name: scale-logo;
          animation-name: scale-logo;
  -webkit-animation-duration: 700ms;
          animation-duration: 700ms;
  -webkit-animation-delay: 5500ms;
          animation-delay: 5500ms;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.dashboard.active .dashboard__logo-wave {
  -webkit-animation-name: scale-wave;
          animation-name: scale-wave;
  -webkit-animation-duration: 700ms;
          animation-duration: 700ms;
  -webkit-animation-delay: 5500ms;
          animation-delay: 5500ms;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.dashboard.active.v-horizontal .dashboard__logo {
  -webkit-animation-name: scale-logo-mod;
          animation-name: scale-logo-mod;
}

.dashboard.active.v-horizontal .dashboard__logo-wave {
  -webkit-animation-name: scale-wave-mod;
          animation-name: scale-wave-mod;
}

.dashboard.active.v-horizontal-sm .dashboard__title.first-screen-hc {
  -webkit-animation-name: show-text-mod-2;
          animation-name: show-text-mod-2;
}

.dashboard.active.v-horizontal-sm .dashboard__title.second-screen-hc {
  -webkit-animation-name: show-text-mod-2;
          animation-name: show-text-mod-2;
  -webkit-animation-duration: 3000ms;
          animation-duration: 3000ms;
  -webkit-animation-delay: 2500ms;
          animation-delay: 2500ms;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.dashboard.active.v-horizontal-sm .dashboard__title.third-screen-hc {
  -webkit-animation-name: show-text-final-mod;
          animation-name: show-text-final-mod;
}

.dashboard.active.v-horizontal-sm .dashboard__logo {
  -webkit-animation-name: scale-logo-mod-5;
          animation-name: scale-logo-mod-5;
  -webkit-animation-duration: 700ms;
          animation-duration: 700ms;
  -webkit-animation-delay: 5500ms;
          animation-delay: 5500ms;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.dashboard.active.v-horizontal-sm .dashboard__logo-wave {
  -webkit-animation-name: scale-wave-mod-5;
          animation-name: scale-wave-mod-5;
  -webkit-animation-duration: 700ms;
          animation-duration: 700ms;
  -webkit-animation-delay: 5500ms;
          animation-delay: 5500ms;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.dashboard.active.v-vertical-sm .dashboard__title.first-screen-hc {
  -webkit-animation-name: show-text-mod-2;
          animation-name: show-text-mod-2;
}

.dashboard.active.v-vertical-sm .dashboard__title.second-screen-hc {
  -webkit-animation-name: show-text-mod-2;
          animation-name: show-text-mod-2;
  -webkit-animation-duration: 3000ms;
          animation-duration: 3000ms;
  -webkit-animation-delay: 2500ms;
          animation-delay: 2500ms;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.dashboard.active.v-vertical-sm .dashboard__title.third-screen-hc {
  -webkit-animation-name: show-text-final-mod;
          animation-name: show-text-final-mod;
}

.dashboard.active.v-vertical-sm .dashboard__logo {
  -webkit-animation-name: scale-logo-mod-2;
          animation-name: scale-logo-mod-2;
}

.dashboard.active.v-vertical-sm .dashboard__logo-wave {
  -webkit-animation-name: scale-wave-mod-2;
          animation-name: scale-wave-mod-2;
}

.dashboard.active.v-vertical .dashboard__title.first-screen-hc {
  -webkit-animation-name: show-text-mod-2;
          animation-name: show-text-mod-2;
}

.dashboard.active.v-vertical .dashboard__title.second-screen-hc {
  -webkit-animation-name: show-text-mod-2;
          animation-name: show-text-mod-2;
  -webkit-animation-duration: 3000ms;
          animation-duration: 3000ms;
  -webkit-animation-delay: 2500ms;
          animation-delay: 2500ms;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.dashboard.active.v-vertical .dashboard__title.third-screen-hc {
  -webkit-animation-name: show-text-final-mod;
          animation-name: show-text-final-mod;
}

.dashboard.active.v-vertical .dashboard__logo {
  -webkit-animation-name: scale-logo-mod-3;
          animation-name: scale-logo-mod-3;
}

.dashboard.active.v-vertical .dashboard__logo-wave {
  -webkit-animation-name: scale-wave-mod-3;
          animation-name: scale-wave-mod-3;
}

.dashboard.active.g-animation .dashboard__title.second-screen-hc {
  -webkit-animation-name: show-text-mod-3;
          animation-name: show-text-mod-3;
  -webkit-animation-duration: 500ms;
          animation-duration: 500ms;
  -webkit-animation-delay: inherit;
          animation-delay: inherit;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.dashboard.active.g-animation .dashboard__title.third-screen-hc {
  -webkit-animation-name: show-text-final-mod-2;
          animation-name: show-text-final-mod-2;
  -webkit-animation-duration: 2500ms;
          animation-duration: 2500ms;
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  pointer-events: none;
}

.dashboard.active.g-animation .dashboard__person {
  -webkit-animation-name: add-person;
          animation-name: add-person;
  -webkit-animation-duration: 500ms;
          animation-duration: 500ms;
  -webkit-animation-delay: inherit;
          animation-delay: inherit;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.dashboard.active.g-animation .dashboard__logo {
  -webkit-animation-name: scale-logo-mod-4;
          animation-name: scale-logo-mod-4;
  -webkit-animation-duration: 400ms;
          animation-duration: 400ms;
  -webkit-animation-delay: 1000ms;
          animation-delay: 1000ms;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.dashboard.active.g-animation .dashboard__logo-wave {
  -webkit-animation-name: scale-wave-mod-4;
          animation-name: scale-wave-mod-4;
  -webkit-animation-duration: 700ms;
          animation-duration: 700ms;
  -webkit-animation-delay: 700ms;
          animation-delay: 700ms;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.dashboard__title {
  position: absolute;
  opacity: 0;
  left: 300px;
  bottom: 300px;
  max-width: 820px;
  z-index: 2;
}

.dashboard__title .h-2 {
  text-indent: 35px;
}

.dashboard__title.first-screen-hc .h-2:first-child {
  text-indent: 0;
}

.dashboard__title.second-screen-hc .h-2:first-child {
  text-indent: 0;
}

.dashboard__title.third-screen-hc {
  top: 112px;
  left: 79px;
  bottom: initial;
  max-width: 1030px;
}

.dashboard__title.third-screen-hc .btn {
  margin: 83px 0 0 0;
}

.dashboard__title.third-screen-hc .h-2 {
  text-indent: 0;
  font-size: 96px;
  line-height: 105px;
}

.dashboard__content {
  width: 100%;
  height: 100%;
}

.dashboard__person {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: -17px;
  height: 532px;
  width: 449px;
}

.dashboard__person img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.dashboard__logo-wave {
  position: absolute;
  pointer-events: none;
  z-index: 2;
  bottom: 0;
  right: 0;
  width: 735px;
  height: 734px;
}

.dashboard__logo-wave img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.dashboard__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.dashboard__bg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.dashboard__logo {
  position: absolute;
  z-index: 3;
  right: 40px;
  bottom: 53px;
  width: 309px;
  height: 105px;
}

.dashboard__logo img {
  width: 100%;
  height: 100%;
}

.dashboard__gradient {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.dashboard__gradient img {
  width: 100%;
  height: 100%;
}

@-webkit-keyframes show-text {
  0% {
    opacity: 0;
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }

  20% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }

  90% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    pointer-events: none;
  }
}

@keyframes show-text {
  0% {
    opacity: 0;
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }

  20% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }

  90% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    pointer-events: none;
  }
}

@-webkit-keyframes show-text-mod-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }

  20% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }

  90% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    pointer-events: none;
  }
}

@keyframes show-text-mod-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }

  20% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }

  90% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    pointer-events: none;
  }
}

@-webkit-keyframes show-text-mod-3 {
  0% {
    top: 380px;
  }

  100% {
    top: 314px;
  }
}

@keyframes show-text-mod-3 {
  0% {
    top: 380px;
  }

  100% {
    top: 314px;
  }
}

@-webkit-keyframes show-text-final {
  0% {
    opacity: 0;
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }

  100% {
    pointer-events: visible;
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes show-text-final {
  0% {
    opacity: 0;
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }

  100% {
    pointer-events: visible;
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes show-text-final-mod {
  0% {
    pointer-events: none;
    opacity: 0;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }

  100% {
    pointer-events: initial;
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes show-text-final-mod {
  0% {
    pointer-events: none;
    opacity: 0;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }

  100% {
    pointer-events: initial;
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes show-text-final-mod-2 {
  0% {
    opacity: 0;
  }

  30% {
    opacity: 100%;
  }

  100% {
    pointer-events: initial;
    opacity: 100%;
  }
}

@keyframes show-text-final-mod-2 {
  0% {
    opacity: 0;
  }

  30% {
    opacity: 100%;
  }

  100% {
    pointer-events: initial;
    opacity: 100%;
  }
}

@-webkit-keyframes remove-person {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    pointer-events: none;
  }
}

@keyframes remove-person {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    pointer-events: none;
  }
}

@-webkit-keyframes add-person {
  0% {
    left: -450px;
  }

  100% {
    left: -7px;
  }
}

@keyframes add-person {
  0% {
    left: -450px;
  }

  100% {
    left: -7px;
  }
}

@-webkit-keyframes show-bg {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes show-bg {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@-webkit-keyframes scale-logo {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  100% {
    -webkit-transform: scale(1.7) translateX(-100px) translateY(-20px);
            transform: scale(1.7) translateX(-100px) translateY(-20px);
  }
}

@keyframes scale-logo {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  100% {
    -webkit-transform: scale(1.7) translateX(-100px) translateY(-20px);
            transform: scale(1.7) translateX(-100px) translateY(-20px);
  }
}

@-webkit-keyframes scale-logo-mod {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  100% {
    -webkit-transform: scale(1.3) translateX(-20px) translateY(-13px);
            transform: scale(1.3) translateX(-20px) translateY(-13px);
  }
}

@keyframes scale-logo-mod {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  100% {
    -webkit-transform: scale(1.3) translateX(-20px) translateY(-13px);
            transform: scale(1.3) translateX(-20px) translateY(-13px);
  }
}

@-webkit-keyframes scale-logo-mod-2 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  100% {
    -webkit-transform: scale(1.2) translateX(-10px) translateY(-5px);
            transform: scale(1.2) translateX(-10px) translateY(-5px);
  }
}

@keyframes scale-logo-mod-2 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  100% {
    -webkit-transform: scale(1.2) translateX(-10px) translateY(-5px);
            transform: scale(1.2) translateX(-10px) translateY(-5px);
  }
}

@-webkit-keyframes scale-logo-mod-3 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  100% {
    -webkit-transform: scale(1.2) translateX(-15px) translateY(-17px);
            transform: scale(1.2) translateX(-15px) translateY(-17px);
  }
}

@keyframes scale-logo-mod-3 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  100% {
    -webkit-transform: scale(1.2) translateX(-15px) translateY(-17px);
            transform: scale(1.2) translateX(-15px) translateY(-17px);
  }
}

@-webkit-keyframes scale-logo-mod-4 {
  0% {
    right: -305px;
  }

  100% {
    right: 45px;
  }
}

@keyframes scale-logo-mod-4 {
  0% {
    right: -305px;
  }

  100% {
    right: 45px;
  }
}

@-webkit-keyframes scale-logo-mod-5 {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  100% {
    -webkit-transform: translateX(-15px);
            transform: translateX(-15px);
  }
}

@keyframes scale-logo-mod-5 {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  100% {
    -webkit-transform: translateX(-15px);
            transform: translateX(-15px);
  }
}

@-webkit-keyframes scale-wave {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  100% {
    -webkit-transform: scale(2) translateX(-150px) translateY(-130px);
            transform: scale(2) translateX(-150px) translateY(-130px);
  }
}

@keyframes scale-wave {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  100% {
    -webkit-transform: scale(2) translateX(-150px) translateY(-130px);
            transform: scale(2) translateX(-150px) translateY(-130px);
  }
}

@-webkit-keyframes scale-wave-mod {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  100% {
    -webkit-transform: scale(1.3) translateX(-40px) translateY(-35px);
            transform: scale(1.3) translateX(-40px) translateY(-35px);
  }
}

@keyframes scale-wave-mod {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  100% {
    -webkit-transform: scale(1.3) translateX(-40px) translateY(-35px);
            transform: scale(1.3) translateX(-40px) translateY(-35px);
  }
}

@-webkit-keyframes scale-wave-mod-2 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  100% {
    -webkit-transform: scale(1.3) translateX(-20px) translateY(-15px);
            transform: scale(1.3) translateX(-20px) translateY(-15px);
  }
}

@keyframes scale-wave-mod-2 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  100% {
    -webkit-transform: scale(1.3) translateX(-20px) translateY(-15px);
            transform: scale(1.3) translateX(-20px) translateY(-15px);
  }
}

@-webkit-keyframes scale-wave-mod-3 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  100% {
    -webkit-transform: scale(1.2) translateX(-40px) translateY(-50px);
            transform: scale(1.2) translateX(-40px) translateY(-50px);
  }
}

@keyframes scale-wave-mod-3 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  100% {
    -webkit-transform: scale(1.2) translateX(-40px) translateY(-50px);
            transform: scale(1.2) translateX(-40px) translateY(-50px);
  }
}

@-webkit-keyframes scale-wave-mod-4 {
  0% {
    right: -580px;
  }

  100% {
    right: 0;
  }
}

@keyframes scale-wave-mod-4 {
  0% {
    right: -580px;
  }

  100% {
    right: 0;
  }
}

@-webkit-keyframes scale-wave-mod-5 {
  0% {
    width: 546px;
  }

  100% {
    width: 581px;
  }
}

@keyframes scale-wave-mod-5 {
  0% {
    width: 546px;
  }

  100% {
    width: 581px;
  }
}